body {
  margin: 0;
}

.nav-list {
  margin: 0;
  padding: 0;
}

.list-item {
  display: inline-block;
  width: 160px;
  margin: 0 -3px;
  list-style-type: none;
  background-color: var(--green);
}

.nav-link {
  display: block;
  width: 100%;
  padding: 2rem 1.5rem;
  text-decoration: none;
  color: var(--white);
}

.nav-link:hover {
  background-color: var(--orange);
  color: var(--black);
}
