body {
  margin: 0;
  background: rgb(246,219,231);
  background: radial-gradient(circle, rgba(246,219,231,1) 0%, rgba(194,214,238,1) 100%);
}

h1 {
  text-align: center;
}

/* Code for exercise 01-flex */

.navbar {
  display: flex;
  justify-content: end;
  margin: 0;
  padding-left: 0;  
  background-color: var(--purple);
  list-style-type: none;
  transition: top 500ms ease-in-out;
}

.navbar:focus-within {
  top: 0;
}

.nav-item {
  display: inline-block;
  border: 3px solid var(--purple);
}

.nav-link {
  display: block;
  width: 100%;
  padding: 1.5rem 2rem;
  text-decoration: none;
  color: var(--white);
}

.nav-item:hover {
  border: 3px solid var(--green);
  background-color: var(--green);
}

.nav-item:active {
  border: 3px solid var(--orange);
  background-color: var(--orange);
}

.nav-item:focus {
  border: 3px solid var(--orange);
}

/* Code for exercise 02-grid */

.grid-areas-container > .item1 {
  grid-area: header;
}

.grid-areas-container > .item2 {
  grid-area: jumbotron;
}

.grid-areas-container > .item3 {
  grid-area: card1;
}

.grid-areas-container > .item4 {
  grid-area: card2;
}

.grid-areas-container > .item5 {
  grid-area: card3;
  display: none;
}

.grid-areas-container > .item6 {
  grid-area: section;
}

.grid-areas-container > .item7 {
  grid-area: footer;
}

.grid-areas-container {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, 1fr);
  grid-template-areas:
    'header'
    'jumbotron'
    'jumbotron'
    'section'
    'section'
    'card1'
    'card2'
    'footer';
}

@media (min-width: 768px) {
  .grid-areas-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'header       header'
      'jumbotron    jumbotron'
      'jumbotron    jumbotron'
      'section      section'
      'section      section'
      'card1        card2'
      'card1        card2'
      'footer       footer';
  }
}

@media (min-width: 1024px) {
  .grid-areas-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      'header       header      header'
      'jumbotron    jumbotron   jumbotron'
      'jumbotron    jumbotron   jumbotron'
      'card1        card2       card3'
      'card1        card2       card3'
      'section      section     section'
      'section      section     section'
      'section      section     section'
      'footer       footer      footer';
  }

  .grid-areas-container > .item5 {
    display: block;
  }
}