#loading {
  width: 80px;
  height: 80px;
}

figure {
  width: 200px;
  margin: 0.4rem;
  border: 0.5rem solid var(--white);
}

figcaption {
  margin: 0.5rem 0;
  margin-top: 1em;
  padding: 0.25rem;
  text-align: center;
}

figure:hover {
  border: 0.5rem solid var(--purple);
  background-color: var(--purple);
  color: var(--white);
}
